:root {
    --black: #111c14;
    --green: #5fd97c;
    --sky: #203333;
    --white: #f7f8fa;
    --links: #b88cde;
    --link_hover: #eb88da;
    --font-size: 1.2rem;
    --sans: Oxygen, sans-serif;
  }
  
  html {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: var(--sans);
    background-color: var(--sky);
    color: var(--white);
    font-size: var(--font-size);
  }
  
  h1, h2, h3 {
    margin: 0;
  }
  
  a {
    color: var(--links);
  }
  a:hover {
    color: var(--link_hover);
    text-decoration: none;
  }
  
  /* navbar */
  
  nav {
    font-family: var(--sans);
    font-size: 80%;
    padding: 1rem;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  nav li:first-child {
    flex-basis: 100%;
    text-align: center;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    display: block;
  }
  .resume {
    background-color: #d94848;
    padding: 0.5rem;
    border-radius: 6px;
  }
  .resume:hover {
    color: white;
    background-color: #8a0f0f;
  }
  
  /* container styles */
  
  #container {
    padding-bottom: 10rem;
  }
  #container p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .name span{
    font-size: 3rem;
    color: #7ed7ed;
    display: block;
  }
  
  #container h2 {
    font-size: 4rem;
  }
  
  
  /* contact section */
  
  #contact {
    border: 2px solid #524e51;
    background-color: #400d3d;
    margin: 0 auto;
    padding: 3rem 0;
  }
  #contact h2 {
    text-align: center;
    font-size: 2rem;
  }
  #contact p {
    text-align: center;
    line-height: 1.1;
  }
  .btn {
    margin: 2rem auto;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #f739eb;
    border-radius: 5px;
    height: 1.7rem;
    cursor: pointer;
  }