@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 20px;
    background: #9A86A4;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

h1,
h2 {
    margin-bottom: 12px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

ul {
    list-style-type: none;
}

.navbar {
    background: #1B2430;
    color: white;
    height: 60px;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: rgb(184, 153, 216);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1.5rem;
}

.header {
    background: #0151cc;
    color: white;
    min-height: 400px;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
    max-width: 400px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
}

.box {
    flex-grow: 1;
    background-color: #F4E06D;
    border-radius: 15px;
    margin: 20px 30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 12px 20px;
}

@media(max-width: 850px) {
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .boxes .container {
        flex-direction: column;
        text-align: center;
    }
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-item {
    flex-grow: 1;
    background-color: #F4E06D;
    border-radius: 15px;
    margin: 20px 30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 12px 20px;
}

.flex-item h2 {
    text-align: center;
}
.flex-item p {
    text-align: center;
}

@media(max-width: 850px) {
    .flex-container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .flex-item {
        flex-direction: column;
    }
}

.layout {
    background: #0151cc;
    height: 500px;
}

.flex-container-1 {
    flex-direction: column;
    display: flex;
    justify-content: end;
    align-items: start;
}

.flex-item-1 {
    width: 100px;
    height: 100px;
    background: #F4E06D;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 12px 20px;
}
/* .flex-item-1:nth-of-type(1){
    flex-direction: column;
    display: flex;
    justify-content: start;
    align-items: start;
} */

/* .flex-item-1:nth-of-type(2){
    flex-direction: row;
    
    flex-grow: 2;
}

.flex-item-1:nth-of-type(3){
    flex-direction: row;
    flex-grow: 2;
}

.flex-item-1:nth-of-type(4){
    flex-direction: row;
    flex-grow: 2;
} */